/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, h1, h2, h3 { margin:0; padding:0; border:0; }

body {
    background-color: white;
    color: black;
    font-family: verdana,tahoma,arial,helvetica,sans-serif,"MS Sans Serif";
}

#header {
    width: 800px;
    margin-top: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    border-bottom: solid #cccccc 1px;
}

#header h1 {
    font-size: 24pt;
}

#headlink {
    text-decoration: none;
    color: black;
}

#header h2 {
    font-size: 8pt;
}

#header h2 a {
    color: black;
}


#categories {
    margin-top: 10px;
    margin-bottom: 10px;
}

.catg {
    color: black;
    font-size: 13pt;
    text-decoration: none;
    font-weight: bold;
}

#maintable {
    table-layout: fixed;
    border-collapse: collapse;
}

#contentcell {
    vertical-align: top;
    border-right: 1px solid #CCCCCC;
    padding-top: 10px;
    min-width: 650px;
}


#content {

}

#title {
    text-align: center;
}

#title h1 {
    font-size: 13pt;
    font-weight: bold;
}

#postbody {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 9pt;
}

#postbody .indent {
    padding-left: 10px;
    margin-left: 5px;
    border-left: solid black 1px;
    font-family: "Courier New", monospace;
}

/* TODO: make these meaningful */
#postbody h1 {
    font-size: 13pt;
}

#postbody h2 {
    font-size: 10pt;
}

#postbody h3 {
    font-size: 8pt;
}

#sidebarcell {
    vertical-align: top;
    padding-top: 10px;
}

#sidebar {
    padding-left: 10px;
    font-size: 8pt;
}

#sidebar li {
    white-space: nowrap;
}

#sidebar h2 {
    margin-bottom: 10px;
}

#eof {
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
    /* So the gray bar extends down further */
    padding-bottom: 20px;
    font-family: "Courier New", monospace;
}

.nexpre {
    text-decoration: none;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: bold;
    font-size: 13pt;
}

.padbox {
    padding: 10px;
}

#cathead {
    text-align: center;
}

#postlist {
}

#postlist h1 {
    font-size: 13pt;
    padding-left: 20px;
}

#postlist p {
    font-size: 8pt;
    padding-left: 20px;
    padding-right: 10px;
}

#postlist hr {
    width: 100%;
    height: 1px;
    color: #cccccc;
    background-color: #cccccc;
    border: 0;
}

#stats {
    font-size: 8pt;
    padding-left: 10px;
    color: #696969;
    padding-bottom: 10px;
}

#flashmessage {
    border: solid red 2px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
